<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzq.moduletodo" >

    <application>
        <activity android:name=".TodoAddActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/todo_add_things"/>
    </application>

</manifest>